<div>Hola Depositos</div>
<div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space"></div>
      <div class="placeholder">
        <input class="input" formControlName="account" placeholder="account" />
      </div>
      <div class="space"></div>
      <div class="input1">
        <input formControlName="amount" placeholder="amount" />
      </div>
      <div class="space"></div>
      <div>
        <button class="submit">Submit</button>
      </div>
      <div class="space"></div>
    </form>
  </div>
</div>
