<div>Hola Depositos</div>
<sofka-narvar></sofka-narvar>
<div>
  <div class="container">
    <div>
      <div class="space"></div>
      <h1>Scorpion Bank</h1>
      <p style="text-align: center">
        <img
          src="https://t4.ftcdn.net/jpg/04/22/92/29/360_F_422922955_XaGCE7Nqe8DyLiY7mGe5SACyp8N4oHTB.jpg"
          alt="Logo InternetCtrl" />
      </p>
      <label>Account:</label>
      <input type="text" [(ngModel)]="account" />

      <label>Amount:</label>
      <input type="text" [(ngModel)]="amount" />

      <button type="button" (click)="onSubmit()">Enviar</button>
    </div>
  </div>
</div>
