<sofka-user-home></sofka-user-home>
<h1 style="text-align: center">Scorpion Bank</h1>
<div class="logo">
  <p style="text-align: center">
    <img
      src="https://t4.ftcdn.net/jpg/04/22/92/29/360_F_422922955_XaGCE7Nqe8DyLiY7mGe5SACyp8N4oHTB.jpg"
      alt="Logo InternetCtrl" />
  </p>
  <button
    type="button"
    class="btn btn-secondary"
    [routerLink]="['../transfer']">
    Realizar transferencias
  </button>
  <button type="button" class="btn btn-secondary" [routerLink]="['../deposit']">
    Realizar Depositos
  </button>
</div>
